@app-primary2-color: #e2efec;
@app-primary5-color: #9bcdd9;
@app-primary9-color: #00474f;
@app-grey2-color: #fafafa;
@app-grey3-color: #f5f5f5;
@app-grey5-color: #d9d9d9;
@app-grey6-color: #bfbfbf;
@app-grey7-color: #8c8c8c;
@app-grey8-color: #595959;
@app-grey10-color: #000000;
@app-default-font: 'Heebo Regular';

//rewrite ant default variables
@font-family: 'Heebo', sans-serif;
@primary-color: @app-primary5-color;
@link-color: @app-primary5-color;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-radius-base: 4px;
@border-color-base: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);

@typography-title-font-weight: 400;
